@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5c3106;
  --foreground: #995700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#id {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
  animation-fill-mode: forwards;
}

.animate-slideFromLeft {
  animation: slideFromLeft 0.8s ease-out forwards;
}

.animate-slideFromRight {
  animation: slideFromRight 0.8s ease-out forwards;
}

.animate-slideFromBottom {
  animation: slideFromBottom 0.8s ease-out forwards;
}

.animate-loading-bar {
  animation: loadingBar 1s ease-out infinite;
  will-change: transform;
}
